td:nth-child(2) {
    padding-left: 20px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

hr {
    border-color: #539165;
    border-style: dotted none none;
    border-width: 8px;
    width: 10%;
}

h1 {
    color: #539165;
}

h2 {
    color: #539165;
    text-align: center;
}

body {
    background-color: #F8F5E4;
}

div.list {
    text-align: center;
}

.lower_lists {
    display: inline-block;
    text-align: left;
}

.text {
    color: black;
    margin: auto;
}

a:visited {
    color: #3F497F;
}

a:link {
    color: #3F497F;
}

div.header {
    display: flex;
    align-items: center;
    justify-content: center
}

div.header_image {
    max-width: 100%;
    flex-basis: 20%;
}

div.header_text {
    padding-left: 20px;
}
